[submodule "softprobe-js"]
	path = softprobe-js
	url = https://github.com/softprobe/softprobe-js
[submodule "softprobe-go"]
	path = softprobe-go
	url = https://github.com/softprobe/softprobe-go
[submodule "softprobe-python"]
	path = softprobe-python
	url = https://github.com/softprobe/softprobe-python
[submodule "datalake"]
	path = datalake
	url = ../thelake.git
	branch = migrate-to-ducklake
